.thanksSection {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: black;
}

.thanksBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #221f23;
}

.thanksWrapper {
  padding: 30px;
  text-align: center;
}

.thanksTitle {
  margin: 40px auto;
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 3px;
}

.thanksText {
  margin: 0 auto;
  font-size: 1rem;
}

.downloadTitle {
  font-size: 1.2rem;
  font-weight: 900;
}

.buttonsBox {
  display: flex;
  width: 80%;
  margin: auto;
}

.downloadButton,
.goBackButton {
  display: block;
  width: 38%;
  padding: 0.5rem 2rem;
  margin: 1.2rem auto 0 auto;
  border: 1.5px solid whitesmoke;
  border-radius: 25px;
  background-color: #656565;
  color: whitesmoke;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.downloadButton {
  background-color: darkorchid;
  color: whitesmoke;
}

.downloadButton:hover {
  background-color: #1f2b37;
}

.goBackButton {
  background-color: #656565;
  color: whitesmoke;
}

.goBackButton:hover {
  background-color: darkolivegreen;
}